*,
*::before,
*::after {
  box-sizing: border-box;
}

.delivery-bar {
    margin-top: -40px;
    font-size: 26.56px;
    background-color: #a46e9d;
    color: #ede8d8;
    position: fixed;
    left: 0;
    right: 0;
    overflow: hidden;
    white-space: nowrap;

    z-index: 100;
}

.delivery-bar a {
    color: #ede8d8
}

.scroll-text {
  display: inline-block;
  padding-left: 100%; /* for starting off-screen */
  animation: scroll-left 25s linear infinite;
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@media (max-width: 804px) {
  .scroll-text {
  animation: scroll-left 19s linear infinite;
}
}

@media (max-width: 575px) {
    .delivery-bar {
        font-size: 20.02px;
    }
}

@media (max-width: 528px) {
    .delivery-bar {
        font-size: 20.02px;
    }
}

@media (max-width: 448px) {
    .delivery-bar {
        font-size: 16px;
    }
}

@media (max-width: 364px) {
    .delivery-bar {
        font-size: 12px;
    }
<<<<<<< HEAD
}
=======
}
>>>>>>> a2def7375904a47640e4bd4601630fb38f9c2abd
