*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Preventing dragging images in CSS */
img { 
    -webkit-user-drag: none;
    user-select: none;
}

body {
    margin: 0;
    padding-top: 140px;
    background-color: #f5efe1;
    font-family: Bahnschrift;
}

@media (max-width: 575px) {
    body {
        padding-top: 110px;
    }
}

@media (max-width: 528px) {
    body {
        padding-top: 105px;
    }
}

@media (max-width: 448px) {
    body {
        padding-top: 95px;
    }
}

@media (max-width: 364px) {
    body {
        padding-top: 85px;
    }
}

@media (max-width: 321px) {
    body {
        padding-top: 85px;
    }
}
