.one-square-images .product-card, .two-square-images .product-card {
  max-width: 350px;
}

.one-square-images .product-card img, .two-square-images .product-card img{
  max-height: 340px;
  height: auto;
}

@media (max-width: 1131px){
  .one-square-images .product-card, .two-square-images .product-card {
    max-width: 320px;
  }

  .one-square-images .product-card img, .two-square-images .product-card img{
    max-height: 310px;
  }
}

@media (max-width: 1041px){
  .one-square-images .product-card, .two-square-images .product-card {
    max-width: 300px;
  }

  .one-square-images .product-card img, .two-square-images .product-card img{
    max-height: 290px;
  }
}

@media (max-width: 980px){
  .one-square-images .product-card, .two-square-images .product-card {
    max-width: 350px;
  }

  .one-square-images .product-card img, .two-square-images .product-card img{
    max-height: 340px;
  }
}

@media (max-width: 761px) {
  .one-square-images .product-card, .two-square-images .product-card {
    max-width: 300px;
  }

  .one-square-images .product-card img, .two-square-images .product-card img{
    max-height: 290px;
  }
}

@media (max-width: 661px) {
  .one-square-images .product-card, .two-square-images .product-card {
    max-width: 280px;
  }

  .one-square-images .product-card img, .two-square-images .product-card img{
    max-height: 270px;
  }
}

@media (max-width: 621px) {
  .one-square-images .product-card, .two-square-images .product-card {
    max-width: 270px;
  }

  .one-square-images .product-card img, .two-square-images .product-card img{
    max-height: 260px;
  }
}

@media (max-width: 601px) {
  .one-square-images .product-card {
    max-width: 90%;
  }

  .one-square-images .product-card img {
    max-height: 100%;
  }
  
  .two-square-images .product-card {
    max-width: 250px;
  }

  .two-square-images .product-card img {
    max-height: 240px;
  }
}

@media (max-width: 561px) {
  .two-square-images .product-card {
    max-width: 230px;
  }

  .two-square-images .product-card img {
    max-height: 220px;
  }
}

@media (max-width: 521px){
  .two-square-images .product-card {
    max-width: 210px;
  }

  .two-square-images .product-card img {
    max-height: 200px;
  }
}

@media (max-width: 481px){
  .two-square-images .product-card {
    max-width: 190px;
  }

  .two-square-images .product-card img {
    max-height: 180px;
  }
}

@media (max-width: 441px){
  .two-square-images .product-card {
    max-width: 170px;
  }

  .two-square-images .product-card img {
    max-height: 160px;
  }
}

@media (max-width: 401px){
  .two-square-images .product-card {
    max-width: 165px;
  }

  .two-square-images .product-card img {
    max-height: 155px;
  }
}

@media (max-width: 391px) {
  .two-square-images .product-card {
    max-width: 160px;
  }

  .two-square-images .product-card img {
    max-height: 150px;
  }
}

@media (max-width: 381px) {
  .two-square-images .product-card {
    max-width: 155px;
  }

  .two-square-images .product-card img {
    max-height: 145px;
  }
}

@media (max-width: 371px) {
  .two-square-images .product-card {
    max-width: 150px;
  }

  .two-square-images .product-card img {
    max-height: 140px;
  }
}

@media (max-width: 361px) {
  .two-square-images .product-card {
    max-width: 145px;
  }

  .two-square-images .product-card img {
    max-height: 135px;
  }
}

@media (max-width: 351px) {
  .two-square-images .product-card {
    max-width: 140px;
  }

  .two-square-images .product-card img {
    max-height: 130px;
  }
}

@media (max-width: 341px) {
  .two-square-images .product-card {
    max-width: 135px;
  }

  .two-square-images .product-card img {
    max-height: 125px;
  }
}

@media (max-width: 331px) {
  .two-square-images .product-card {
    max-width: 130px;
  }

  .two-square-images .product-card img {
    max-height: 120px;
  }
}

@media (max-width: 321px) {
  .two-square-images .product-card {
    max-width: 90%;
  }

  .two-square-images .product-card img {
    max-height: 220px;
  }
}